/* https://colorhunt.co/palette/f0ebe3e4dccf7d9d9c576f72 */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    min-height: 100vh;
    background-color: rgb(240, 235, 227);
    min-width: 500px;
    
}

.calculator {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    height: 60rem;
    width: 40rem;
    background-color: rgb(87, 111, 114);
    border-radius: 0.5rem;
    padding: 2rem 1rem; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}

.display {
    display: flex;
    align-items: center;

    background-color: rgb(240, 235, 227);
    height: 7rem;
    padding: 0.5rem;
    font-size: 6.5rem;
    border-radius: 0.5rem;
    border: 0.2rem inset rgb(125, 157, 156);
    
}

.display p {
    width: 100%;
    text-align: right;
}

.buttons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;

    height: 50rem;
    width: 100%;
    padding: 0.5rem;
    
    
}

.button-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    width: 100%;
    height: auto;
    
}


.button-row button {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    font-size: 4rem;
}

.number-button {
    background-color: rgb(228, 220, 207);
}


.button-border {
    border: 0.5rem outset rgb(125, 157, 156);
}
