*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1rem;
    min-height: 100vh;
}

.calculator {
    height: 600px;
    width: 400px;
    background-color: black;
    border-radius: 5px;
    padding: 20px 10px; 
}

.display {
    background-color: grey;
    margin-bottom: 10px;
    height: 7rem;
    padding: 5px;
    font-size: 6.5rem;
    border-radius: 5px;
}

.display p {
    width: 100%;
    text-align: right;
}